body {
    background: white;
}


/* define the style of top navigation bar*/
.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.orderBlock {
    width:10%;
    height:90%;
    border-style:solid;
    border-width:2px;
    border-color: azure;
    color: #1b75b6;
}